* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.bg-video {
  width: 100%;
  height: 100%;
  z-index: -1; }
  .bg-video__content {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.calc-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: black;
  border: 2px solid whitesmoke;
  border-radius: 1px; }
  .calc-box .output {
    color: white;
    height: 9rem;
    text-align: right;
    border-bottom: 2px solid whitesmoke;
    padding: 1rem; }
    .calc-box .output__score {
      font-size: 5rem; }
    .calc-box .output__equation {
      font-size: 1.5rem; }
  .calc-box__buttons .btn {
    width: 9rem;
    height: 8.4rem;
    color: white;
    background-color: black;
    font-size: 3rem;
    font-weight: bold;
    border: none;
    outline: none; }
    .calc-box__buttons .btn--red {
      background-color: red; }
    .calc-box__buttons .btn--blue {
      background-color: blue; }
    .calc-box__buttons .btn--heighter {
      height: 16.8rem; }
    .calc-box__buttons .btn--widther {
      width: 18rem; }
