* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//Varibles.
$color-red: #d9534f;
$color-blue: #5bc0de;
$color-btn: #092026 ;

//Mixins.


html {
    font-size: 62.5%
}

body {

}

.bg-video {
    width: 100%;
    height: 100%;
    z-index: -1;

    &__content {
        position: fixed;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.calc-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: black;
    border: 2px solid whitesmoke;
    border-radius: .5rem;

    .output {
        color: white;
        height: 9rem;
        text-align: right;
        border-bottom: 2px solid whitesmoke;
        padding: 1rem;

        &__score {
            font-size: 5rem;
        }

        &__equation {
            font-size: 1.5rem;
        }
    }

    &__buttons {
        display: grid;
        grid-template-rows: repeat(5, 8.4rem);
        grid-template-columns: repeat(4, 9rem);
        .btn {
            color: white;
            background-color: $color-btn;
            font-size: 3rem;
            font-weight: bold;
            border: none;
            outline: none;
            transition: .2s transform linear;

            &:hover {
                transform: translateY(-0.3rem);
                box-shadow: .1rem .1rem 1rem .3rem rgba(170, 245, 250, 0.986);
            }

            &:active {
                transform: translateY(-0.1rem);
            }

            &--red {
                background-color: $color-red;
            }

            &--blue {
                background-color: $color-blue;
            }

            &--heighter {
                grid-row: 4 / 6;
                grid-column: 4 / 5;
            }

            &--widther{
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

    }
}